{
    "_user_token_help": "Search google how to obtain discord user token",
    "user_token": "MjA3MzY4MzQ4MjgxOTk1<TOKEN>",
    "_channel_id_help": "Input the channel ids you want to catch, separated by comma (,)",
    "channel_id": "876471166783586314,876607625389801512,876607551003836416,720231680564264971"
}
